body {
  /*margin: 0px;*/

  font-family: 'Cuprum', sans-serif;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

/*body > * {*/
/*  background-color: rgba(255, 0, 0, 0.3);*/
/*}*/

/*body > * > * {*/
/*  background-color: rgba(255, 255, 0, 0.3);*/
/*}*/

/*body > * > * > * {*/
/*  background-color: rgba(0, 0, 255, 0.3);*/
/*}*/

/*body > * > * > * > * {*/
/*  background-color: rgba(0, 255, 255, 0.3);*/
/*}*/

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  display: block;

  font: inherit;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #ee3643;
  border: none;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 30px;
}

.btn:hover {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}

.main-header-top {
  background-color: #293449;
}

.main-header-top .container {
  display: flex;
  /*margin-bottom: 46px;*/
}

.main-header-top a,
.main-header-top p {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-header-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  margin-bottom: -5px;
  padding: 12px 55px;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}

.search-link {
  box-sizing: border-box;
  width: 270px;
  margin: 0;
  position: relative;
  padding: 12px 0 10px 50px;
}

.search-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search-link:hover::before {
  opacity: 1;
}

.search-link:active:before {
  opacity: 0.3;
}

.bookmark-link {
  box-sizing: border-box;
  width: 150px;
  position: relative;
  padding: 12px 0 10px 50px;
}

.bookmark-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.bookmark-link:hover::before {
  opacity: 1;
}

.bookmark-link:active:before {
  opacity: 0.3;
}

.basket-link {
  box-sizing: border-box;
  width: 150px;
  position: relative;
  padding: 12px 0 10px 50px;
}

.basket-link::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.basket-link:hover::before {
  opacity: 1;
}

.basket-link:active:before {
  opacity: 0.3;
}

.checkout-link {
  box-sizing: border-box;
  width: 150px;
  text-align: center;
  padding: 12px 0;
}

.bookmark-link:active,
.basket-link:active,
.checkout-link:active {
  color: #f1f5f7;
}

.checkout-link:hover {
  background-color: #5fbb2d;
}

.checkout-link:active {
  background-color: #518534;
}

.basket-link.active {
  background-color: #ee3643
}

.main-header-bottom {
  background-color: #f4f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}

.main-header-bottom-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 43px;
}

.main-header-bottom .main-header-title {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  width: 196px;
  margin-right: 70px;
  margin-left: 53px;
  padding: 0;
}

.header-contacts {
  margin-right: 69px;
}

.inner-page .header-contacts {
  margin-right: 51px;
}

.header-contacts-phone {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
  border: solid 3px #ffffff;

  display: block;
  width: 270px;
  box-sizing: border-box;

  position: relative;
  padding: 12px 0 10px 73px;
}

.header-contacts-phone::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 15px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts-address {
  margin: 0;
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.user-navigation {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  align-items: flex-start;
}

.user-navigation li {
  background-color: #ffffff;
  padding: 12px 0px;
}

.user-navigation a {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.user-navigation .login-link {
  box-sizing: border-box;
  width: 121px;
  margin-right: 10px;

  position: relative;
  padding: 12px 0 10px 48px;
}

.user-navigation .login-link::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation .registration-link {
  width: 150px;
  text-align: center;
}


.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-user-name {
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  display: block;
  width: 299px;
  box-sizing: border-box;

  position: relative;
  padding: 14px 0 10px 47px;
}

.header-user-name::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-name::after {
  content: "";

  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-name:hover,
.header-user-name:active {
  background-color: #f1f5f7;
}

.header-user-links {
  display: flex;
}

.orders-link,
.privet-area-link {
  margin: 0;
  padding: 8px 17px;
  display: block;
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}


.orders-link:hover,
.privet-area-link:hover {
  color: #ee3643;
}

.orders-link:active,
.privet-area-link:active {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.3;
}

.main-navigation {
  box-shadow: inset 0px -5px 0 0 #293449;
  background-color: #32425c;
}

.main-navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.main-navigation li {
  padding: 20px 30px;
}

.main-navigation li:first-child {
  padding-left: 50px;
}

.main-navigation li:last-child {
  padding-right: 55px;
}

.main-navigation-list li:hover {
  background-color: #293449;
}

.main-navigation-list li:active {
  background-color: #1d2739;
}

.main-navigation a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
}

.company-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 80px;
  padding-bottom: 86px;
}

.company-info h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0 0 38px;

}

.company-info-text {
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  width: 520px;

  padding: 0;
  margin: 0;
}

.company-info-text.left-column {
  width: 519px;
  margin-bottom: 36px;
}

.company-info-text.right-column {
  width: 179px;
  margin-bottom: 36px;
}

.company-info-text-delivery {
  width: 386px;
  margin-bottom: 17px;
}

.company-info-description .btn {
  width: 220px;
}

.company-info-contacts .btn {
  width: 300px;
}

.company-info-contacts-button a {
  /*padding: 14px 63px 12px 63px;*/
}

.company-info .contacts-map {
  margin-bottom: 40px;
}

.partners-list {
  padding: 0;
  margin: 0 0 37px;
  list-style: none;

}

.partners-list li {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 23px;
}

.partners-list li:last-child {
  padding-bottom: 0;
}

.main-footer-top {
  background-color: #32425c;
}

.main-footer .main-footer-top-wrapper {
  margin-bottom: 32px;
}

.footer-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation a {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a:hover {
  text-decoration: underline;
}

.footer-navigation a:active {
  color: rgba(241, 245, 247, 0.5);
  opacity: 0.5;
}

.footer-contacts {
  list-style: none;
}

.catalog-groups {
  list-style: none;
}

.catalog-groups a:hover {
  text-decoration: underline;
}

.catalog-groups a:active {
  color: rgba(255, 209, 128, 0.5);
  opacity: 0.5;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
}

.footer-contacts-address,
.footer-contacts-phone {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  border: none;
  margin: 0;
}

.catalog-groups a {
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-top {
  padding-bottom: 53px;
}

.main-footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  /*margin-bottom: 32px;*/
  align-items: flex-start;
}

.main-footer-logo {
  background-color: #ee3643;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);

  text-align: center;
  width: 220px;
  margin-bottom: -5px;
  padding: 20px 0px;
}

.footer-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-navigation li {
  padding: 42px 30px 0px 30px;
}

.footer-navigation li:last-child {
  padding-right: 0;
}

.main-footer-bottom {
  background-color: #293449;
}

.footer-contacts-wrapper {
  display: flex;
  justify-content: space-between;
}


.footer-contacts-wrapper .catalog-groups {
  margin: 0;
  padding: 0;

  display: flex;
}

.catalog-groups li {
  padding: 0px 30px;
}

.catalog-groups li:last-child {
  padding-right: 0;
}


.main-footer-bottom {
  padding: 35px 0px 30px 0px;
}


.main-footer-bottom .container {
  display: flex;
}

.main-footer-bottom .footer-license {
  color: #f3f7f9;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  width: 228px;
  margin: 0 161px 0 0;
}

.footer-social {
  margin: 0 130px 0 0;
}

.footer-social-list {
  padding: 0;
  margin: 0 auto;
  list-style: none;


  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.social-button:hover path,
.social-button:active path {
  fill: #ffffff;
}

.main-footer-bottom .footer-feedback {
  padding: 0;
  width: 135px;
  margin: 0 53px 0 0;
}

.footer-feedback {
  margin-bottom: 1000px;
}

.footer-feedback span {
  color: #f3f7f9;
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a {
  display: block;
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;

  padding: 0;
  margin: 0;
}

.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-feedback a:active {
  color: #ee3643;
}

.main-footer-bottom .footer-copyright {
  padding: 0;
  margin: 0;

  width: 96px;
}

.footer-copyright span {
  color: #f3f7f9;
  font-size: 16px;
  line-height: 18px;
}

.footer-copyright a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;

  padding: 0;
  margin: 0;
}

.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-copyright a:active {
  color: #ee3643;
}

.breadcrumbs {
  margin: 0;
  padding: 20px 0px;
  list-style: none;
  display: flex;
}

.breadcrumbs li {
  text-transform: uppercase;
  padding: 0px 20px;
}

.breadcrumbs li:first-child {
  padding-left: 54px;
}


.breadcrumbs a,
.breadcrumbs-current {
  display: block;
  font-family: 'PT Sans', sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;

  padding: 0;
  margin: 0;
}

.catalog-title {
  background-color: #f2f6f8;
}

.catalog-title h2 {
  margin: 0;
  padding: 30px;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  /*justify-content: space-between;*/
}

.filters {
  margin-right: 21px;
  width: 220px;
  min-width: 220px;
  margin-right: 20px;
}

.filter h3 {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  list-style: none;
  font-size: 15px;
  line-height: 20px
}

.filter label {
  text-transform: uppercase;
}

.filter-button {
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: solid 1px #e5e5e5;
  background-color: #ffffff;
}

.catalog-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-wrap: wrap;
  width: 700px;
}

.catalog-item {
  background-color: #ffffff;
  border: solid 1px #e5e5e5;

  width: 218px;
  margin-bottom: 21px;
  margin-right: 20px;

  display: flex;
  flex-direction: column;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-img {
  margin-bottom: 12px;
}

.catalog-item-title {
  padding: 0;
  margin: 0 auto 18px;

  width: 155px;
  text-align: center;
}

.catalog-item-title a {
  display: block;
  padding: 0;
  margin: 0;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  line-height: 20px
}

.catalog-item-old-price {
  padding: 0;
  margin: 0 0 13px;

  text-align: center;

  min-height: 18px;
  color: #999999;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-decoration: line-through;
}

.catalog-item-price {
  background-color: #ee3643;
}

.catalog-item-price {
  width: 141px;
  padding: 10px 0px;
  margin: 0 auto;

  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-actions {
  font-size: 14px;
  line-height: 18px;
  padding-top: 44px;
}

.btn-action-buy {
  width: 135px;
  padding: 10px 0px;
  margin-bottom: 8px;
  background-color: #63a63e;

  margin-right: auto;
  margin-left: auto;
}

.btn-action-buy:hover {
  background-color: #5fbb2d;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.btn-action-buy:active {
  background-color: #518534;
}

.btn.btn-action-bookmark {
  color: #32425c;

  width: 135px;
  padding: 10px 0px;
  margin-right: auto;
  margin-left: auto;
  border: solid 3px #63a63e;
  background-color: transparent;
}

.btn.btn-action-bookmark:hover {
  border: solid 3px #32425c;
}

.btn.btn-action-bookmark:active {
  opacity: 0.3;
  border: solid 3px #32425c;
}
